*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui; 
}
html{
    font-size: 62.5%;
}
body{
    overflow: hidden;
}
a{
    display: inline-block;
    text-decoration: none;
}
video,
img{
    display: inline-block; 
    width: 100%; 
    border: none;
    outline: none;
  }
video{
    border-radius: 1rem;
}
ul{
    list-style: none;
}
/* UTILITY CLASSES START*/
.grid-container{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;

    
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
}
.space-between{
    justify-content: space-between;
}
.mt-2{
    margin-top: 3.6rem; 
}
.grid-row{
    display: grid;
    gap: 3.6rem;
}
.col-4{
    grid-template-columns: repeat(4,1fr);
}
/* UTILITY CLASS END */

/* NAVIGATION START */
.nav-bar{
    padding:1.6rem 4.8rem;
    grid-column: 1/-1;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-toggler-and-logo{
    display: flex;
    align-items: center;
}
.fa-bars{
    display: inline-block;
    font-size: 3.2rem;
    color: #666666;
    cursor: pointer;

 }
 .fa-search,
 .fa-microphone{
    display: inline-block;
    font-size: 2.4rem;
 }
 .fa-microphone,
 .fa-video,.fa-bell{
    display: block;
    padding: 1.8rem;
border-radius: 50%;
background-color: #e6e6e6;
cursor: pointer;
transition: .3s ease;
display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


 }
 .fa-video,.fa-bell{
    background-color: transparent;
    position: relative;
 }
 .fa-microphone:hover, 
 .fa-video:hover,.fa-bell:hover{
background-color: #b3b3b3;
 }
 .fa-microphone::after{
    content: "search";
    background-color: #333333d2;
    color: #e6e6e6;
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: -3.1rem;
    font-weight: 600;
    display: block;
    width: fit-content;
    text-transform: capitalize;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize!important;
 }
 .fa-video::after{
    content: "Create";
    background-color: #333333d2;
    color: #e6e6e6;
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: -3.1rem;
    font-weight: 600;
    display: block;
    width: fit-content;
    text-transform: capitalize;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize!important;
 }
 .fa-bell::after{
    content: "Notification";
    background-color: #333333d2;
    color: #e6e6e6;
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: -3.1rem;
    font-weight: 600;
    display: block;
    width: fit-content;
    text-transform: capitalize;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize!important;
 }
 .profile::after{
    content: "Notification";
    background-color: #333333d2;
    color: #e6e6e6;
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
    position: absolute;
    bottom: -3.1rem;
    font-weight: 600;
    display: block;
    width: fit-content;
    text-transform: capitalize;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize!important;
 }
 
 .fa-microphone:hover::after,
 .fa-video:hover::after,
 .fa-bell:hover::after,
 .profile:hover::after{
    display: block!important;
 }
 .fa-microphone:hover::after{
    display: block!important;
 }
.logo{
       font-size: 4.8rem;  
        margin-left: 2.4rem; 
        cursor: pointer;
        letter-spacing: -0.4rem;
        word-spacing:-1.2rem ;
}
.logo span{
    margin-left: -1.3rem;
    color: red;
    
}

.form{
    display: flex;
    align-items: center;
    gap: 2.4rem;
    justify-content: center;
    margin-right: 4.8rem;
    margin-left: 3.6rem;
}
.form-container{
    display: flex;
    align-items: center;
    height: fit-content;
    outline: 1px solid #e6e6e6 ;
    border-radius: 200px;
    
}
.search-input{
display: inline-block;
padding: 1.6rem 3.2rem;
width: 32vw;
border:none;
font-size: 2.4rem;
border-top-left-radius: 200px;
border-bottom-left-radius: 200px;



}
.form-container:focus .fa-resize{
    display: none;
}
.search-input::placeholder{
    font-size: 2.4rem;
}
.search-input:focus::placeholder{
    opacity: 0;
}
.fa-resize{
    padding: 1.6rem 3.2rem;
    background-color: transparent;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    display: none;
    
}
.search-btn{
display: inline-block;
padding: 1.6rem 3.2rem;
border: none;
border-top-right-radius: 200px;
border-bottom-right-radius: 200px;
outline: 1px solid #e6e6e6;
cursor: pointer;
}
.search-btn .fa-search{
    color: #666666;
}
.profile-notification-upload{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.profile-notification-upload a{
   color:#666666;
   font-size: 2.4rem;
   display: inline-block;
}
/* .profile{
    padding: 1rem;
    background-color: #e6e6e6;
    border-radius: 50%;
    
} */
.profile-img{
    padding: 0.5rem;
    background-color: #e6e6e6;
    border-radius: 50%;
    width: 6.2rem;
    height: 6.2rem;
    
}
/* NAVIGATION END */

/* SIDEBAR START */
.side-bar{
    height: calc(100vh - 9.44rem);
    padding: 2.4rem;
    width: 300px;
    scrollbar-width: thin;
    /* transition: overflow-y 0.3s ease-in-out; */

}
.side-bar:hover{
    overflow-y: auto;
}
.side-bar-list{
    list-style: none;
}
.side-bar-title{
    text-transform: capitalize;
    margin: 3.6rem 0 1.8rem 0;
    font-size: 2.4rem;
}
.side-bar hr{
    height: 0.2rem;
    background-color: #666;
}
.side-bar-par{
   font-size: 3.6rem;
   font-weight: 400;
   text-transform: capitalize;
   margin-right: 2.4;
   text-decoration: none;
   color: #333;
   margin-top: 2.4rem;
   padding: 1.2rem 0;
display: block;
padding: 1.2rem 2.4rem;
border-radius: 1rem;

}
.side-bar-par:hover{
    background-color: #e6e6e6;
   


}
/* SIDEBAR ICON STYLES */

.fa-play,
.fa-home,
.fa-user-plus,
.fa-user-circle,
.fa-list,
.fa-tv,
.fa-clock,
.fa-thumbs-up{
    display: inline-block;
    font-size: 3.6rem;
    color: #222;
}
.fa-angle-right{
    display: inline-block;
}
/* ICON STYLES END */

.side-bar-list{
    margin:0 0 3.6rem   0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
    justify-content: center;
}
.side-bar-list-item{
   padding: 1.2rem 0;
   width: 100%;
   border-radius: 1rem;
   padding: 1.2rem 2.4rem;

}
.side-bar-list-item:hover{
   background-color: #e6e6e6;
}
.side-bar-link{
    color: #333;
    text-align: center;
    font-weight: 600;
}
.side-bar-link span{
font-size: 2rem;
color: #333;
display: inline-block;
margin-left: 2.4rem;


}
.subs-img{
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    padding: .5rem;
    background-color: red;
}
.active{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
background-color: skyblue;
}
.subs-text{
    font-size: 1.6rem;
}

/* SIDEBAR END */
.main-content{
 padding: 4.8rem;
 overflow: scroll;
}
.main-nav{
    padding: 1.6rem;
    position: relative;
}
.main-nav-link{
    text-decoration: none;
    font-size: 2.4rem;
    color: #333;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    background-color: #e6e6e6;
    border-radius: 1rem;
    text-transform: capitalize;
    flex-shrink: 0;
    flex-basis: 15rem;
    text-align: center;
}
.main-nav-link:hover{
   
    background-color: #b7b4b4;
   
}
.main-active{
   background-color: #111;
   color: white; 
}
.fa-ab{
    position: absolute;
    font-size: 3.6rem;
    right: -0.4rem;
    opacity: 0.5;
}
.uploaded-video-card{
  display: block;
  padding: 1.8rem;
  box-shadow: 0 0 1.2rem gray;
}
.upload-detail{
    margin-top: 2.4rem;
    position: relative;
}
.video-detail{
    color: #333;
    font-weight: 600;
    font-size: 1.8rem;
}
.fa-ellipsis-v{
    display: inline-block;
    font-weight: 600;
    font-size: 2.8rem;
    color: #555;


}
